#banner{
    font-family:monospace;
    text-align: center;
    font-size:larger;
    width: 100rem;
}

#grid{
    width:800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #000;
    flex:auto;
}

body{
    background-color: beige;
}

#scaling{
    width: 100rem;
    height: 5rem;
    display: flex;
    background-color: azure;
    flex:auto;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:auto;
}