#banner{
    font-family:monospace;
    text-align: center;
    font-size:22px;
    width: 100rem;
    color: #DC143C;
}

#grid{
    width:800px;
    height: 800px;
    border: 0.5px solid #000;
    display: flex;
    flex-direction: column;
}

body{
    background-color: beige;
}


#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:auto;
}

#grid-and-settings{
    display: flex;
    justify-content: space-around;
}

.subtitle{
    font-family: monospace;
    font-size: 13px;
}